html, body, #root, .main {
  min-height: fit-content;
  background: #f1f3f6;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.main {
  display: flex;
  width: 100%;
  flex-direction: column;
}


.container {
  width: 728px;
  margin: 0 auto;
}
.header {
  display: flex;
}
.header-left {
  display: flex;
}
.logo {
  display: block;
  background: #F5BA00;
  border-radius: 50%;
  width: 40px;
  margin: auto 16px auto 0;
  height: 40px;
}
.header-right {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
a#backtoactivity {
  color: #00A5E6;
  font-family: "SF Pro Text";
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.15px;
  line-height: 20px;
  text-decoration: none;
  margin: auto 0;
}
h2.name {
  color: #657885;
  font-size: 14px;
  margin: 26px 0;
  line-height: 20px;
  letter-spacing: -0.15px;
  font-family: "SF Pro Text";
}

.body {
  background: #fff;
  padding: 48px 94px;
}
.center-content {
  display: flex;
  flex-direction: column;
}
.center-content h2 {
  height: 29px;
  color: #25333D;
  font-family: "SF Pro Display";
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.33px;
  line-height: 29px;
  text-align: center;
  margin: 8px auto;
}
button.btn.copy-address {
  margin: 0 auto 16px;
  height: 40px;
  width: 200px;
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  background-color: #00A5E6;
  border-radius: 4px;
  border: unset;
}
.form-group {
  margin: 20px 0;
}
.form-group label {
  margin: 8px 0;
  height: 20px;
  color: #25333D;
  font-family: "SF Pro Text";
  font-size: 14px;
  font-weight: bold;
  letter-spacing: -0.15px;
  line-height: 20px;
  display: flex;
}
.form-group input, .form-group select {
  display: block;
  padding: 12px 10px;
  color: #879299;
  font-family: "SF Pro Text";
  font-size: 14px;
  letter-spacing: -0.15px;
  line-height: 20px;
  width: calc(100% - 24px);
  border: 2px solid rgba(171,185,194,0.32);
  border-radius: 4px;
  background-color: #FFFFFF;
}
.two-form {
  display: flex;
  justify-content: space-between;
}
.two-form select {
  width: calc(50% - 12px);
}
span.inp-caption, span.sub-label {
  font-weight: normal;
  color: #879299;
  font-family: "SF Pro Text";
  font-size: 14px;
  letter-spacing: -0.15px;
  line-height: 20px;
  margin-bottom: 8px;
  display: block
}
label.has-caption {
  margin: unset;
}
span.sub-label {
  text-align: right;
  margin-left: auto;
}
.footer-container {
  margin-top: auto;
  height: 80px;
  box-shadow: inset 0 1px 0 0 rgba(171,185,194,0.32);
  background: #fff;
  display: flex;
}
.footer {
  width: 728px;
  margin: auto;
  height: 40px;
}
.footer {
  margin: auto;
  height: 40px;
  width: 728px;
  justify-content: right;
  display: flex;
}

.btn {
  border: 1px solid rgba(171,185,194,0.32);
  border-radius: 4px;
  text-decoration: unset;
  padding: 8px 16px;
  color: #879299;
  font-family: "SF Pro Text";
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.32px;
  line-height: 24px;
  text-align: center;
}
a#back-btn {
  margin: auto 0 auto auto;
}
#next-btn {
  width: 130px;
  margin: auto 0 auto 16px;
  color: #FFFFFF;
  background: #F45918;
}
.form-group.half {
  width: 50%;
}
p.error {
  color: #d04848;
}
@media only screen and (max-width: 728px) {
  html {
    height: 100%;
    overflow-x: hidden;
  }
  body, #root, .main {
    overflow-x: hidden;
    min-height: unset;
    background: #f1f3f6;
    width: 100%;
    height: unset;
    margin: 0;
    padding: 0;
}

  body {
    background-color: lightblue;
  }
  .container {
    width: 100%;
    margin: 0 auto;
  }
  .header {
    display: -webkit-flex;
    display: flex;
    padding: 16px 24px;
}
  .header-right {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
  h2.name {
    margin: 0;
    width: fit-content;
  }
  #backtoactivity{
    width: fit-content;
  }
  .body {
    padding: 24px;
  }
  .form-group.half {
    width: 100%;
  }
  .two-form{
    flex-direction: column;
  }
  .two-form select {
    width: 100%;
  }
  .two-form select:nth-child(2) {
    margin-top: 8px;
  }
  .footer {
    padding: 24px;
  }
  .footer-container{
    height: unset;
  }
}
